<!DOCTYPE html>
<html>
  <head>
    <title>Epektos - Home</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class='clearfix'>
      <div class="left-nav">
        <ul>
          <li><%= link_to "Enter", home_path %></li>
        </ul>
      </div>
    </header>
    <div class='content'>
      <%= yield %>
    <div>
  </body>
</html>